*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}

html{
    scroll-behavior: smooth;
}
body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-bold);
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/* REUSABLSE CSS CLASSES */
.container{
    max-width: 1124px;
    margin-right: 24px;
    margin-left: 24px;
}
.section{
    padding: 4.5rem 0 2rem;
}
.section__data{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    text-align: center;
    margin-bottom: 48px;

}
.section__title,
.section__title-border{
    font-size: var(--big-font-size);
    letter-spacing:1.5px;

}
.section__subtitle{
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 1.5px;
    color:var(--first-color);
    transform: rotate(-2deg);

}
.section__titles{
    display:flex;
    column-gap: 12px;
    justify-content: center;
}
.section__title-border{
    -webkit-text-stroke:1px var(--text-color);
    color:transparent;
}
.grid{
    display: grid;
    gap:24px;
}
.main{
    overflow: hidden;/*Per Animacione*/
}
.color-red{
    color: red;
}
.color-green{
    color: var(--first-color);
}
/* HEADER   &   NAV */
.header{
    width:100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: background.3s;

}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.nav__toggle{
    color: var(--title-color);
    display: flex;
}
.nav__logo{
    align-items:center;
    column-gap: 8px;
    font-weight: var(--font-bold);
}
.nav__logo img{
    width: 20px;
}
.nav__toggle{
    font-size: 20px;
    cursor: pointer;
}
@media screen and (max-width:1023px){
    .nav__menu{
        position: fixed;
        background-color: rgba(18, 23, 23, 0.8);
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter:blur(32px);
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        border-left: 2px solid var(--first-color-gray);
        transition: right .3s;
    }
}
.nav__list{
    padding: 80px 0 0 48px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.nav__link{
    color: var(--title-color);
    transition:color .3s ;
}
.nav__link:hover{
    color: var(--first-color);

}
.nav__close{
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 24px;
    color: var(--title-color);
    cursor: pointer;

}
.nav.nav__button{
    background-color: var(--title-color);
    border: none;
}
/* SHOW MENU */
.show-menu{
    right: 0;
}
/* CHANGE BACKGROUNG HEADER */
.bg-header{
    background-color: var(--body-color);
    box-shadow: 0 4px 8px rgba(9, 11, 11, 0.3);
}
.active-link{
    color: var(--first-color);
}
/* HOME */
.home{
    position: relative;
    padding-bottom: 0;
}
.home__container{
    padding-top: 64px;
    row-gap: 48px;
}
.home__data{
    text-align: center;
}
.home__subtitle{
    font-size: var(--bigger-font-size);
    -webkit-text-stroke:1px var(--title-color);
    color: transparent;
}
.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    margin: 8px;
}
.home__subtitle,
.home__title{
    letter-spacing: 1.5px;
}
.home__description{
    margin-bottom: 40px;
}

.home__img{
    display: block;
    position: relative;
    z-index: 1;
    width: 350px;
    margin: 0 auto;
}
/* BUTTON */
.button{
    display: inline-block;
    background-color: var(--first-color);
    padding: 18px 32px;
    border: 2px solid var(--first-color-light);
    color: var(--title-color-black);
    font-weight: var(--font-bold);
    cursor: pointer;
    transition: background .3s;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button i{
    font-size: 20px;
    transition: transform .3s;
}
.button__flex{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}
.button__flex:hover i{
    transform: translateX(4px);
}
/* PROGRAM */
.program__container{
    grid-template-columns: 225px;
    justify-content: center;
    row-gap: 32px;
}
.program__card{
    display: grid;
    background-color: rgba(165, 169, 158, 0.07);
    padding: 24px 32px;
    border: 2px solid transparent;
    transition:background .5s, border .4s;
}
.program__img{
    width: 40px;
}
.program__shape{
    width: 50px;
    height: 50px;
    background-color: var(--first-color-gray);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 16px;
    transition: background .5s;
}
.program__title{
    font-size: var(--h3-font-size);
    margin-bottom: 16px;
}
.program__description{
    font-size: var(--small-font-size);
    letter-spacing: .5px;
    line-height: 20px;
}
.program__title,
.program__description{
    transition: color .5s;

}
.program__button{
    justify-self: flex-end;
    margin-top: 24px;
    font-size: 20px;
    color: var(--title-color-black);
    opacity: 0;
    transition: opacity .4s;
}
.program__button i{
    display: block;
    transition: transform .3s;
}
.program__button:hover i{
    transform: translateX(4px);
}
.program__card:hover{
    background-color: goldenrod;
    border: 2px solid var(--first-color-light);

}
.program__card:hover.program__shape{
    background-color:  goldenrod;
}
.program__card:hover.program__description:hover{
    color:black !important;
}
.program__card:hover.program__title,
.program__card:hover.program__description{
    color:black !important;
}
.program__card:hover.program__button{
    opacity: 1;
}
/* CHOOSE */
.choose{
    padding-bottom: 0;
}
.choose__overflow{
    position: relative;
}
.choose__container{
    row-gap: 48px;
}
.choose__content .section__data{
    margin-bottom: 32px;
}
.choose__description{
    text-align: center;
    margin-bottom: 40px;
}
.choose__data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 32px;
}
.choose__group{
    text-align: center;
}
.choose__number{
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    font-weight: 400;
    margin-bottom: 4px;
}
.choose__subtitle{
    font-size: var(--small-font-size);

}
.choose__triangle{
    height: 325px;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0,0 100%,100% 100%);
}
.choose__triangle-1{
    width: 305px;
    background-color: var(--first-color);
}
.choose__triangle-2{
    width: 205px;
    background-color: var(--first-color-alt);
}
.choose__triangle-3{
    width: 105px;
    background-color: var(--first-color-dark);
}
.choose__img{
    width: 260px;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto ;
}
:root{
--header-height:56px;
/* COLORS */
--first-color:	rgb(255, 165, 0);
--first-color-light: rgb(255, 186, 40);
--first-color-alt: rgb(255, 140, 0);
--first-color-dark:	rgb(255, 127, 0);
--first-color-gray:	rgb(165, 169, 158);
--title-color:rgb(250, 250, 250);
--title-color-black:rgb(29, 32, 32);
--text-color:rgb(181, 186, 186);
--text-color-light:rgb(162, 169, 169);
--body-color:rgb(18, 23, 23);

/* FONT AND TYPOGRAPHY */
--body-font:'Red Hat Display', sans-serif;
--second-font:'Kaushan Script', cursive;
--biggest-font-size:32px;
--bigger-font-size:24px;
--big-font-size:20px;
--h1-font-size:24px;
--h2-font-size:20px;
--h3-font-size:16px;
--normal-font-size:15.008px;
--small-font-size:13.008px;
--smaller-font-size:12px;
/* FONT WEIGHT */
--font-bold:700;
--font-black:900;
/* Z INDEX */
--z-tooltip:10;
--z-fixed:100;
}
/* PRICING */
.pricing__container{
    grid-template-columns: 285px;
    justify-content: center;
    row-gap: 32px;
}
.pricing__card,
.pricing__shape,
.pricing__list{
    display: grid;
}
.pricing__card{
    row-gap: 32px;
    background-color: rgba(165, 169, 158, 0.07);
    padding: 32px 40px;
}
.pricing__img{
   width: 35px;
}
#diamond{
    width: 55px;
}
.pricing__shape{
    width: 60px;
    height: 60px;
    background-color: var(--first-color-gray);
    border-radius: 50%;
    place-items: center;
    margin-bottom: 16px;
}
.pricing__title{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    margin-bottom: 16px;
}
.pricing__number{
    font-size: var(--h1-font-size);
}
.pricing__list{
    row-gap: 16px;
}
.pricing__item{
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: var(--small-font-size);
}
.pricing__item i{
    font-size: 20px;
    color:var(--first-color);
}
.pricing__item-opacity{
    opacity: .3;
}
.pricing__button{
    background-color: var(--title-color);
}
/* CALCULATE */
.calculate{
    padding-bottom: 0;
}
.calculate__container{
    row-gap: 64px;
}
.calculate__content .section__titles{
    margin-bottom: 32px;
    text-align: center;
}
.calculate__description{
    text-align: center;
    margin-bottom: 40px;
}
.calculate__form{
    display: grid;
    row-gap: 16px;
}
.calculate__box{
    position: relative;
    border: 2px solid var(--first-color-light);
}
.calculate__input{
    width: 100%;
    background: transparent;
    padding: 20px 56px 20px 24px;
    outline: none;
    border: none;
    color:var(--text-color);
}
.calculate__input::-webkit-outer-spin-button,
.calculate__input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.calculate__input[type=number]{
    -moz-appearance: textfield;
}
.calculate__label{
    position: absolute;
    right: 24px;
    top: 20px;
    color: var(--title-color);
}
.calculate__form .button{
    margin-top: 24px;

}
.calculate__img{
    width: 300px;
    justify-self: center;
}
.calculate__message{
    position: absolute;
    transform: translateY(16px);
}
/* FOOTER */
.footer__container{
    row-gap: 64px;
    padding-top: 16px;
}
.footer__logo,
.footer__description{
    color: var(--title-color);
}
.footer__logo,
.footer__form,
.footer__social{
    display: flex;
}
.footer__logo{
    align-items: center;
    column-gap: 8px;
    font-weight: var(--font-bold);
    margin-bottom: 24px;
}
.footer__logo img{
    width: 24px;
}
.footer__description{
    margin-bottom: 32px;
}
.footer__form{
    flex-direction: column;
    gap: 20px;
}
.footer__input{
    padding: 20px 56px 20px 24px;
    border: 2px solid var(--first-color-light);
    background: transparent;
    color: var(--text-color);
    outline: none;
}
.footer__content,
.footer__links,
.footer__group{
    display: grid;
}
.footer__content{
    grid-template-columns: repeat(2,max-content);
    gap: 40px 56px;
}
.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 24px;
}
.footer__links{
    row-gap: 12px;
}
.footer__link{
    color: var(--text-color);
    transition: color .3s;
}
.footer__link:hover{
    color: var(--first-color);
}
.footer__group{
    margin-top: 80px;
    justify-items: center;
    row-gap: 32px;
}
.footer__social{
    column-gap: 20px;
}
.footer__social-link{
    display: inline-flex;
    padding: 5.6px;
    background-color: var(--first-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--title-color-black);
    transition: background .4s;
}
.footer__social-link:hover{
    background-color: var(--first-color-dark);
}
.footer__copy{
    font-size: var(--smaller-font-size);
    color:var(--text-color-light)
}
.footer__message{
    position: absolute;
    transform: translateY(16px);
}
/* SCROLL */
::-webkit-scrollbar{
    width: 9.6px;
    border-radius: 8px;
    background-color: rgb(39,40,37);

}
::-webkit-scrollbar-thumb{
    background-color: rgb(65,66,61);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(91,93,86);
}
/* SCROLL UP */
.scrollup{
    position: fixed;
    right: 16px;
    bottom: -30%;
    background-color: var(--first-color);
    display: inline-flex;
    padding: 5.6px;
    font-size: 20px;
    color: var(--title-color-black);
    transition: .3s;
}
.scrollup:hover{
    transform: translateY(-4px);
}
/* Scroll Show Up */
.show-scroll{
bottom: 48px;
}


/* RESPONSIVE TYPOGRAPHY */
@media screen and (min-width:1024px){
    :root{
        --biggest-font-size:96px;
        --bigger-font-size:56px;
        --big-font-size:44px;
        --h1-font-size:36px;
        --h2-font-size:24px;
        --h3-font-size:20px;
        --normal-font-size:16px;
        --small-font-size:14px;
        --smaller-font-size:13.008px;

    }
}

/* FOR LARGE DEVICES */
@media screen and (min-width:1023px){
    .header{
        padding-left: 130px;
    }
    #program{
        padding-left: 130px;
    }
    #kalkulimi{
        padding-left: 130px;
    }
    #footer{
        padding-left: 130px;
    }
    .footer__content{
        padding-left: 145px;
    }
    #choose{
        padding-left: 130px;
    }
    #pricing{
        padding-left: 130px;
    }
    .nav{
        height:calc(var(--header-height)+32px);

    }
    .nav__menu{
        width: initial;
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        padding: 0;
        align-items: center;
        column-gap: 64px;

    }
    .section{
        padding: 112px 0 0;
    }
    .home__container{
        grid-template-columns: repeat(2,max-content);
        align-items: initial;
    }
    .home__title{
        margin: 12px 0px 20px;

    }
    .home__description{
        width: 445px;
        margin-bottom: 48px;
    }
    .home__img{
        width: 550px;
        transform: translateX(-96px);
    }
    .home__triangle{
        height: 700px;
    }
    .home__triangle-1{
        height: 145px;
    }
    .home__triangle-2{
        height: 345px;
    }
    .home__triangle-3{
        height: 545px;
    }
    .choose__overflow{
        overflow: hidden;
    }
    .choose__img{
        width: 350px;
    }
    .choose__triangle{
        height: 700px;
    }
    .choose__triangle-1{
        width: 545px;
    }
    .choose__triangle-2{
        width: 345px;
    }
    .choose__triangle-3{
        width: 145px;
    }
    .footer{
        padding-bottom: 48px;
    }
    .footer__form{
        flex-direction: row;
    }
    .footer__content{
        column-gap: 80px;
    }
    .footer__group{
        grid-template-columns: repeat(2,max-content);
        justify-content: space-between;
        margin-top: 112px;
    }
    .footer__social{
        order: 1;
    }
    .program__container{
        grid-template-columns: repeat(4,245px);
        padding: 48px 25px;
    }
    .program__card{
        padding: 42px;
    }
 
    .program__description{
        font-size: var(--normal-font-size);
    }
  .pricing__container{
    padding-top: 48px;
    grid-template-columns:repeat(3,320px) ;
  }
  .pricing__card{
    padding: 32px 56px;
    row-gap: 40px;
  }
  .scrollup{
    right: 48px;
  }
  .footer__content{
    margin: 0 auto;
    grid-template-columns: repeat(3,max-content);
    grid-gap: 155px;

  }
  .footer__form{
    padding-left: 350px;
    margin: 0 auto;
  }
  .footer__description{
    padding-left: 400px;
  }
  .footer__logo{
    padding-left: 450px;

}
#ww{
    width: 100px;
}
.kol{
font-size: 50px;
padding-top: 50px;
}
  }


